<ul class="nav justify-content: space-between;">
    <div class="logo">
        <img class="img-logo" src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="nav-link">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Cerrar session</a>
          </li>
    </div>
  </ul>