<div class="encabezado-tabla">
  <div><h1 class=" mx-5 ">Empresas Registradas</h1></div>
  <div><button class="btn btn-success" (click)="abrirNuevaEmpresa(modalAddEmpresa)">Agregar</button></div>  
</div>
<table class="table mx-5 table-active table-styles">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>


  <ng-template #modalAddEmpresa let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nueva Empresa</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="guardarEmpresa()">Guardar</button>
    </div>
  </ng-template>